<DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <title></title>
            <link rel="stylesheet" href="/css/new.css" />
        </head>
        <body>
            <h3>Please fill in the information below to Register</h3>
            <form id="login" action="/travels/signup" method="POST">
                Name: <input type="text" name="name" /><br/>
                Username: <input type="text" name="username" /><br/>
                Password: <input type="text" name="password" /><br/>
                <br/>
                <input type="submit" name="" value="Submit"/>
            </form>
        </body>