<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=user.name%> </h1>
    <h2>Your Travel History: </h2>

    <% for(let i=0; i<user.Recommendations.length; i++) { %>
        <li>
            <%= user.Recommendations[i].destination%> 
            <input type="button" value="Edit Travel Entry" /> 
            <input type="button" value="Delete Travel Entry" /> 
        </li>

    <% } %>

    <h2> 
    <a href="/recommendations/new">New Travel Entry</a>
    </h2>
    
</body>
</html>