body {
    background-color: rgb(173, 223, 240);
    
}

h1 {
    color: blue;
    font-family: fantasy;
    text-align: right;

}
form#login {
    color: blue;
    font-family: fantasy;
    text-align: right;
}

h3 {
    color: blue;
    font-family: fantasy;
    text-align: right;
}