body {
    background-color: rgb(173, 223, 240);
    color: blue;
    font-family: fantasy;
    
}

h1 {
    color: blue;
    font-family: fantasy;
    align-content: center;

}
form#login {
    color: blue;
    font-family: fantasy;
    text-align: center;
}

h3 {
    color: blue;
    font-family: fantasy;
    text-align: center;
}
a#login {
    color: blue;
    font-family: fantasy;
    text-align: center;
}